.title-letters {
    letter-spacing: -0.018em;
    /* word-spacing: -0.2em; */
  }
  
.title-letters span {
    display: inline-block;
    margin-right: -0.05em;
    transform: scaleX(0.95);
    transform-style: preserve-3d;
}

.bottom-section{
    grid-template-columns: 2fr 1fr;
}

.foot-small-font{
    font-size: 0.55rem;
}