@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: main;
  font-style: normal;
  font-weight: 400;
  src: url(../public/fonts/Heavitas.5b7b2b4.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: main-sans;
  font-style: normal;
  font-weight: 400;
  src: url(../public/fonts/HelveticaNeueLTPro-Roman.7c26bb7.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: spray;
  font-style: normal;
  font-weight: 400;
  src: url(../public/fonts/spray.7253ccd.woff2) format("woff2");
  text-transform: uppercase;
}
















